*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}

canvas{
  display: block;
  width: 100%;
  height: 100vh;
}

p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  color: white;
  font-size: 24px;
  font-weight: bold;
  pointer-events: none;
  mix-blend-mode: difference;
  background: rgba(255, 255, 255, 0.359);
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.1s ease-out;
}